@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(204, 180, 255, 0) -7.14%,
    #cea6a6 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}
/*profile*/

.address-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 1.25rem;
}
.wallet-address {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: azure;
  margin-right: 20px;
}

.neon-frame {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #8470de, #1dc071, #261a52) 1;
  border-image-slice: 1;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); */
  animation: neonEffect 2s linear infinite;
  color: azure;
}

@keyframes neonEffect {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 768px) {
  .address-container {
    flex-direction: column;
  }

  .wallet-address {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .neon-frame {
    font-size: 12px;
    padding: 0 5px;
  }
}
